---
import { clients } from "../data/videos_client.js";

const toSlug = (title) =>
	title
		.toLowerCase()
		.replace(/\s+/g, "-")
		.replace(/[^a-z0-9-]/g, "");

const firstSlug = toSlug(clients[0].title);
---

<html>
	<head>
		<script>
			window.location.replace(`/client/${firstSlug}`);
		</script>
	</head>
	<body></body>
</html>
