---
const year = new Date().getFullYear();
---

<footer class="site-footer">
    <hr />
    <a href={import.meta.env.BASE_URL + "impressum"} class="impressum">Impressum</a>
    <p>© {year} Arne Münch</p>
</footer>
