---
const currentPath = Astro.url.pathname;
---

<header class="site-header">
    <div class="header-inner">
        <!-- LOGO -->
        <a href="/">
            <div id="logo-placeholder" class="logo-placeholder"></div>
        </a>

        <!-- LOTTIE OVERLAY -->
        <div id="logo-overlay" class="logo-overlay"></div>

        <!-- MENU -->
        <nav>
            <ul class="menu">
                <li
                    class={currentPath === "/" ||
                    currentPath.startsWith("/works") ||
                    currentPath === "/motion-design" ||
                    currentPath.startsWith("/motion-design/")
                        ? "active"
                        : ""}
                >
                    <a href="/motion-design">works</a>
                </li>

                <li
                    class={currentPath.startsWith("/motion-graphics-clients") ||
                    currentPath.startsWith("/client")
                        ? "active"
                        : ""}
                >
                    <a href="/motion-graphics-clients">client work</a>
                </li>

                <li>
                    <a
                        href="https://www.instagram.com/arnemuench/"
                        target="_blank"
                    >
                        instagram
                    </a>
                </li>

                <li
                    class={currentPath.startsWith("/motion-design-koeln")
                        ? "active"
                        : ""}
                >
                    <a href="/motion-design-koeln">about me</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
