---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../style.css";
const buildVersion = BUILD_TIME; // simpel & effektiv main.js versionieren wegen noCache
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            Motion Designer Köln | Freelancer für Motion Graphics & Animation
        </title>
        <meta
            name="description"
            content="Freiberuflicher Motion Designer aus Köln – Spezialist für Motion Graphics, After Effects, Animation und Sound Design. Freelancer für hochwertiges Motiondesign."
        />
        <meta
            name="keywords"
            content="Motiondesign, Motion Graphics, After Effects, Köln, Cologne, AE Scripts, Sounddesign, 3D-Animation, Erklärfilme, selbständig, On-Air-Design, Visual Effects, VFX, Erklärgrafik, Erklärfilme"
        />
        <meta name="author" content="Arne Münch" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- canonical -->
        <link
            rel="canonical"
            href="https://arnemuench.de/de/motion-design-koeln/"
        />
        <link
            rel="alternate"
            hreflang="en"
            href="https://arnemuench.de/en/motion-design-koeln/"
        />
        <link
            rel="alternate"
            hreflang="de"
            href="https://arnemuench.de/de/motion-design-koeln/"
        />
        <link
            rel="alternate"
            hreflang="x-default"
            href="https://arnemuench.de/en/motion-design-koeln/"
        />
    </head>

    <body data-page="about">
        <div class="container">
            <Header />

            <main>
                <div class="portfolio-wrapper">
                    <h1 class="about-content headline">
                        Freelance Motion Design in Köln
                    </h1>

                    <p class="about-content">
                        Seit meinem Abschluss an der Kunsthochschule für Medien
                        Köln im Jahr 2010 arbeite ich als freiberuflicher Motion
                        Designer mit Fokus auf Motion Graphics, Character
                        Animation, 3D-Animation und Visual Effects. <a
                            href="/de/motion-design/"
                            style="white-space: nowrap;"
                            >Hier gibt es mein Reel.</a
                        >
                    </p>

                    <p class="about-content">
                        Ich entwickle präzises und hochwertiges Motion Design
                        für Werbung, On-Air-Design, Studio- und Bühnenvisuals
                        sowie für digitale Produkte – von Interface-Animationen
                        bis zu Feature-Trailern und erklärenden Animationen für
                        Produkte und Services.
                    </p>

                    <p class="about-content">
                        Als Freelancer in Köln arbeite ich mit Kunden in ganz
                        Deutschland und europaweit und verbinde technische
                        Präzision mit kreativem, individuellem Design.
                    </p>

                    <p class="about-content">
                        After Effects beherrsche ich auf sehr hohem Niveau und
                        arbeite zusätzlich mit den anderen gängigen Adobe Tools
                        sowie Cinema 4D. Darüber hinaus entwickle ich eigene
                        Skripte (JavaScript) und erstelle individuelle Presets
                        sowie Essential Graphics-Templates, um Workflows in
                        After Effects und Premiere Pro zu optimieren. Außerdem
                        entwickle ich prickelndes Sounddesign, das Animationen
                        zum Leben erweckt.
                    </p>

                    <div class="about-wrapper">
                        <img
                            src="/assets/picture.jpg"
                            alt="Arne Münch"
                            class="about-photo"
                        />
                        <div class="about-contact">
                            <p>Kontaktiere mich gerne – egal worum es geht:</p>
                            <p>
                                Arne Münch<br />
                                Heinrich-Bürgers-Str. 2-4<br />
                                50827 Köln<br />
                                Mobil: +49 178 1448296<br />
                                Mail: <span id="emailContact"
                                    >hier email zusammensetzen</span
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </main>

            <Footer />
        </div>
        <script>
            (function () {
                const emailUser = "a-muench";
                const emailDomain = "gmx.de";

                const email = emailUser + "@" + emailDomain;

                const emailLink = document.createElement("a");
                emailLink.href = "mailto:" + email;
                emailLink.textContent = email;

                const container = document.getElementById("emailContact");
                container.textContent = ""; // alten Text entfernen
                container.appendChild(emailLink);
            })();
        </script>
        <script is:inline>
            document.body.classList.add("is-loaded");
        </script>
        <script src="/scripts/lottie.min.js" defer></script>
        <script src={`/scripts/logo-lottie.js?v=${buildVersion}`} defer
        ></script>
    </body>
</html>
