---
// src/layouts/BaseLayout.astro
import { ViewTransitions } from "astro:transitions";
---

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/style.css" />

        <ViewTransitions />

        <style>
            ::view-transition-old(root),
            ::view-transition-new(root) {
                animation-duration: 0.4s;
                animation-timing-function: ease;
            }
        </style>
    </head>

    <body>
        <slot />
    </body>
</html>
